<div class="container">
  <form action="/sign_up" method:"post" id="validate_sign_in">
    <p>
      <label>Email</label>
      <input type="text" name="email" id="email_sign_up"/>
    </p>
    <p>
      <label>password</label>
      <input type="text" name="password" id="password_sign_up"/>
    </p>
    <p>
      <input type="submit" name="Sign Up"/>
    </p>
  </form>
</div>
<div id="email_errors"></div>
<div id="password_errors"></div>